node_modules/
target/
_out/
gen/

.cdsrc-private.json
default-*.json
*.sqlite

# MTA
mta_archives/
*_mta_build_tmp
*.mtar

# Other
.DS_Store

# @cap-js/cds-typer
@cds-models

# LCAP
build/ui-deployer/
build/dist/
env/
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
app/virement.zui_pps_virement/dist/Component-dbg.js
app/virement.zui_pps_virement/dist/Component-preload.js
app/virement.zui_pps_virement/dist/Component-preload.js.map
app/virement.zui_pps_virement/dist/Component.js
app/virement.zui_pps_virement/dist/Component.js.map
app/virement.zui_pps_virement/dist/index.html
app/virement.zui_pps_virement/dist/manifest.json
app/virement.zui_pps_virement/dist/sap-ui-cachebuster-info.json
app/virement.zui_pps_virement/dist/xs-app.json
app/virement.zui_pps_virement/dist/ext/view/Main-dbg.controller.js
app/virement.zui_pps_virement/dist/ext/view/Main.controller.js
app/virement.zui_pps_virement/dist/ext/view/Main.controller.js.map
app/virement.zui_pps_virement/dist/ext/view/Main.view.xml
app/virement.zui_pps_virement/dist/i18n/i18n.properties
app/virement.zui_pps_virement/dist/test/flpSandbox.html
app/virement.zui_pps_virement/dist/test/testsuite.qunit-dbg.js
app/virement.zui_pps_virement/dist/test/testsuite.qunit.html
app/virement.zui_pps_virement/dist/test/testsuite.qunit.js
app/virement.zui_pps_virement/dist/test/testsuite.qunit.js.map
app/virement.zui_pps_virement/dist/test/integration/FirstJourney-dbg.js
app/virement.zui_pps_virement/dist/test/integration/FirstJourney.js
app/virement.zui_pps_virement/dist/test/integration/FirstJourney.js.map
app/virement.zui_pps_virement/dist/test/integration/opaTests.qunit-dbg.js
app/virement.zui_pps_virement/dist/test/integration/opaTests.qunit.html
app/virement.zui_pps_virement/dist/test/integration/opaTests.qunit.js
app/virement.zui_pps_virement/dist/test/integration/opaTests.qunit.js.map
app/virement.zui_pps_virement/dist/test/integration/RequestsMainJourney-dbg.js
app/virement.zui_pps_virement/dist/test/integration/RequestsMainJourney.js
app/virement.zui_pps_virement/dist/test/integration/RequestsMainJourney.js.map
app/virement.zui_pps_virement/dist/test/integration/pages/JourneyRunner-dbg.js
app/virement.zui_pps_virement/dist/test/integration/pages/JourneyRunner.js
app/virement.zui_pps_virement/dist/test/integration/pages/JourneyRunner.js.map
app/virement.zui_pps_virement/dist/test/integration/pages/RequestsMain-dbg.js
app/virement.zui_pps_virement/dist/test/integration/pages/RequestsMain.js
app/virement.zui_pps_virement/dist/test/integration/pages/RequestsMain.js.map
app/virement.zui_pps_virement/dist-zip/virementzuippsvirement.zip
package-lock.json
